@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "modules/header";
@import "modules/banner";
@import "modules/advantages";
@import "modules/news";
@import "modules/description";
@import "modules/footer";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
}

.container {
  max-width: $desktopWidth;
  margin: 0 auto;
}

.bg-top {
  @include backgroundImg("/assets/img/bg-header.png");
}