.advantages {
  @include backgroundImg("/assets/img/advateges.png");

  &__items {
    display: flex;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 28px 0;
    border-right: 1px solid #d4d4d4;
  }

  &__item:first-child {
    border-left: 1px solid #d4d4d4;
  }

  &__text {
    margin-top: 20px;
    color: black;
    text-align: center;
    font-weight: 300;
    font-size: 27px;
    font-family: "Segoe UI", serif;
    text-transform: uppercase;
  }
}