.header {
  &-content {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }

  &-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__img {
      margin-right: 10px;
    }

    &__text {
        font-size: 41px;
        font-family: "Lucida Sans", serif;
        color: rgb(255, 255, 255);
        font-style: italic;
        text-transform: uppercase;
        line-height: 1.2;        
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    }
  }

  &-navigation {
    display: flex;
    align-items: flex-end;

    &__items {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 450px;
      padding: 0 0 0 22px;
      background-color: rgba(245, 197, 6, 1);
      box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5),
      -10px -10px 0 rgba(245, 197, 6, 0.25);
    }

    &__item {
      padding: 11px;
      border-left: 1px solid #dcb105;
    }

    &__item:first-child {
      border: 0;
    }

    &__img {
      margin-right: 8px;
    }

    &__link {
        font-size: 17px;
        font-family: "SegoeWP", serif;
        color: rgb(155, 125, 8);
        text-transform: uppercase;
        line-height: 1.2;
    }
  }
}