.header {
  &-content {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
  }

  &-logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__img {
      margin-right: 10px;
    }

    &__text {
        font-size: 41px;
        font-family: "Lucida Sans", serif;
        font-style: italic;
        text-transform: uppercase;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.42);
    }
  }

  &-navigation {
    display: flex;
    align-items: flex-end;

    &__items {
      display: inline-flex;
      align-items: normal;
      width: 100%;
      max-width: 450px;
      padding: 0 0 0 22px;
      background-color: rgba(245, 197, 6, 1);
      box-shadow: -5px -5px 0 rgba(245, 197, 6, 0.5),
      -10px -10px 0 rgba(245, 197, 6, 0.25);
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 11px;
      border-left: 1px solid #dcb105;
    }

    &__item:hover img {
      transform: scale(1.2) translate(-3px, -3px);
    }

    &__item:first-child {
      border: 0;
    }

    &__img {
      margin-right: 8px;
      transition: transform 0.5s ease;
    }

    &__link {
        font-size: 17px;
        font-family: "SegoeWP", sans-serif;
        color: rgb(155, 125, 8);
        text-transform: uppercase;
    }
  }

  @media screen and (max-width: $desktopWidth) {
    &-content {
      justify-content: normal;
      padding-top: 0;
    }

    &-logo {
      flex-grow: 1;
      padding: 11px 19px 13px 13px;
      background: linear-gradient(#5d5d5d, #454545);

      &__img {
        @include size(38px);
      }
      &__text {
        font-size: 20px;
      }
    }

    &-navigation {
      flex-grow: 3;
      align-items: normal;

      &__items {
        padding: 0;
        box-shadow: none;
      }

      &__img {
        margin-right: 5px;
      }

      &__link {
        font-size: 19px;
      }
    }
  }
}