.news {
  @include backgroundImg("/assets/img/bg-news.png");
  box-shadow: inset 0 5px 10px -3px rgba(0, 0, 0, 0.5);

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: 41px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 37px;
    font-family: "PTSans", sans-serif;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__desc-and-video {
    display: flex;
  }

  &__desc {
    position: relative;
    flex: 1;
    padding: 25px 38px 34px 31px;
    background-color: $default-color;
    font-size: 29px;
    font-weight: 100;
    font-family: "SegoeWP", serif;
    line-height: 1.308;
  }

  &__twitter {
    position: relative;
    padding: 60px 83px 40px;
    margin-left: 34px;
    background-color: $default-color;

    &-num {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 25px;
      font-weight: normal;
      font-family: "SegoeWP", sans-serif;
      line-height: 1.517;
    }
  }

  .img-plus {
    position: absolute;
    bottom: 13px;
    right: 9px;
  }

  &__calendar {
    display: flex;
    align-items: flex-start;
    margin-bottom: 43px;

    &-content {
      display: flex;
      flex-direction: column;
      padding: 15px 24px 9px 29px;
      background-color: #ddb101;
    }

    &-date {
      font-size: 51px;
      font-family: "Segoe UI", sans-serif;
      font-weight: bold;
      line-height: 0.744;
    }

    &-month {
      font-size: 21px;
      font-family: "Segoe UI", sans-serif;
      text-transform: uppercase;
      color: rgb(178, 101, 41);
      line-height: 1.805;
    }
  }

  &__range {
    -webkit-appearance: none;
    height: 15px;
    margin: 0 auto 20px;
    width: 80%;
    border-radius: 12px;
    background: rgba(255, 255, 255, .5);
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #ec9e03;
      border-radius: 12px;
      height: 15px;
      width: 20%;
    }
  }
}

